.cabecera1{
    background-color:#25B5ED;
    height: 120px;
    width:100%;
    border-radius: 10px;
}
.logo{
    width:120px;
    height: 120px;
    float:left;
    animation:giro 2.5s infinite;
    animation-timing-function:ease-in-out;
}
@keyframes giro{
    0%{opacity:100%}
    50%{opacity:0%}
    100%{opacity:100%}
}
.texto{
    font-size: 25px;
    background:linear gradient(#E5E5E5,#63666E);
    -webkit-background-clip: text;
    text-align:center;
}
