.cabecera1{
    background-color:#25B5ED;
    height: 120px;
    width:100%;
    border-radius: 10px;
    margin:0 auto;
}
.logo{
    height: 120px;
    float:left;
    animation:parpadeo 2.5s infinite;
    animation-timing-function:ease-in-out;
}
@keyframes parpadeo{
    0%{opacity:100%}
    50%{opacity:0%}
    100%{opacity:100%}
}
.texto{
    width: vh;
    margin-top:20px;
    display: flex;
    align-items: center;
    
}
.texto p{
    background-color: red;
    height:80px;
    box-sizing: content-box;
    width: 100%;
    display: flex;
    align-items: center;
}

